{% extends 'base.html'  %}
{% block title %}Add comment{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h4>Add a comment</h4>
    <br><br>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" >Comment</button>
        </form>
    </div>
{% else %}
    <h4>Please <a href="{% url 'login' %}">Login</a> to add a new post.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endif %}

{% endblock %}