{% extends 'base.html'  %}
{% block title %}Add a new blog category{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add New Category..</h1>
    <br><br>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="category" placeholder="category name">
            </div>
            <button class="btn btn-primary" >Add Category</button>
        </form>
    </div>
{% else %}
    <h4>Please <a href="{% url 'login' %}">Login</a> to add a new blog category.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endif %}

{% endblock %}