{% extends 'base.html'  %}

{% block content %}

<h6>Categories ></h6><br>
<h1>{{ cat }}</h1>

{% if cat_list %}
    <ul style="list-style-type: none;">
    {% for post in cat_list %}
        <div class="jumbotron">
            <li><a href="{% url 'full-article' post.pk %}">{{post.title}}</a> -
            <i><a href="{% url 'category' post.category|slugify %}">({{ post.category }})</a></i><br>
            <small>By {{post.author.first_name}} {{post.author.last_name}} | {{ post.post_date}}</small><br>
            {{post.article_snippet}}...</li>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <br>
    <p>No articles yet :(</p>
{% endif %}
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-primary">All Posts</a>
{% endblock %}