{% extends 'base.html'  %}
{% block title %}Edit blog article{% endblock %}

{% block content %}
{% if user.is_authenticated and user.id == post.author.id %}
    <h1>Edit Blog Article..</h1>
    <br><br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary" >Update</button>
            <a href="{% url 'full-article' post.pk %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
{% elif user.is_authenticated and user.id != post.author.id %}
    <h4>Access Denied.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% else %}
    <h4>Please <a href="{% url 'login' %}">Login</a> to edit the post.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endif %}

{% endblock %}