{% extends 'base.html'  %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
{% if user.is_authenticated%}
    {% if user.id == profile.user.id %}
    <h1>Edit Profile..</h1>
    <br><br>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" >Update</button>
            <a href="{% url 'my-profile' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
    {% else %}
    <h4>Access Denied.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    {% endif %}
{% else %}
    <h4>Please <a href="{% url 'login' %}">Login</a> to edit your profile.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endif %}

{% endblock %}