{% extends 'base.html'  %}
{% block title %}Add a new blog article{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add New Blog Article..</h1>
    <br><br>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary" >Post</button>
        </form>
    </div>

    <script>
        var author_name = "{{ user.id }}";
        document.getElementById("author").value = author_name;

    </script>

{% else %}
    <h4>Please <a href="{% url 'login' %}">Login</a> to add a new post.</h4><br><br>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endif %}

{% endblock %}